body {
  background-color:bisque;
    background-repeat: no-repeat;
    background-size: cover;
   
  }

 div.header {
    text-align: center;
   font-style: italic ;
   font-family:cursive;
   font-size: larger;
   color: brown;

  }

.cart{
  font-size: 25px;
  width: 400px;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
button.add {
  width: 2.5cm;
  
  background-color: #902222;
  
  text-align: center;
}

button.remove {
  
  width: 2.5cm;
  
  background-color: red;
  
  text-align: center;
}

button.addcart{width: 2.5cm;
  
  background-color: #902222;
  
  text-align: center;}

button{
  font-size: 0.8rem;
  padding: 0.2rem;
  margin: 0.1rem;
  border-radius: 0.5rem;
  border: 0.1rem #902222;
  background-color:#902222;
  width: 5cm;
  }








.menu-container{ 
  display: grid;
grid-auto-flow: column;
grid-column-gap: 10px;
  display: flex; 

flex-wrap: wrap;
margin: left 5cm;
margin: 3cm;

}

 .text{
  font-style: italic;
 }
  .card img{
    width: 280px;
  border: solid 5px #902222;
  border-width: 50%;
  display: flex;  
  flex-wrap: wrap;
  }
  